$link:#53A8FF;
$success:#339203;
$warning:#f09903e3;
$error:#ce1b24;
$title:rgba(0, 0, 0, .85);
$main:rgba(0, 0, 0, .65);
$sub:rgba(0, 0, 0, .45);
$disabled:rgba(0, 0, 0, 0.25);
$border:rgba(0, 0, 0, .15);
$divider:rgba(0, 0, 0, .09);
$bg:rgba(0, 0, 0, .04);
$habg:#f0fffe;
$hover:#A0CFFF;
$p:#409EFF;
$p1:#f0fffe;
$p2:#C6E2FF;
$p3:#B3DFFF;
$p4:#A0CFFF;
$p5:#8CC5FF;
$p6:#79BBFF;
$p7:#66B1FF;
$p8:#53A8FF;
$p9:#0f5568;
$p10:#051e26;
$shadow:0 2px 8px rgba(0, 0, 0, .15);
$borderbase:1px solid rgba(0, 0, 0, .15);